.app {
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem;
  min-height: 100vh;
}
.light {
  max-width: 1200px;
  background: white;
  color: black;
  min-height: 100vh;
}

.dark {
  max-width: 1200px;
  background: #1e1e1e;
  color: white;
  min-height: 100vh;
}
@media (max-width: 768px) {
  .app {
    padding: 1rem;
  }
  .light {
    max-width: 768px;
    background: white;
    color: black;
    min-height: 100vh;
  }

  .dark {
    max-width: 768px;
    background: #1e1e1e;
    color: white;
    min-height: 100vh;
  }
}
